[submodule "node/Reston"]
	path = node/Reston
	url = https://github.com/maxpert/Reston.git
[submodule "node/express"]
	path = node/express
	url = https://github.com/visionmedia/express.git
[submodule "rails/fat_free_crm"]
	path = rails/fat_free_crm
	url = https://github.com/michaeldv/fat_free_crm.git
[submodule "html5/html5-boilerplate"]
	path = html5/html5-boilerplate
	url = https://github.com/paulirish/html5-boilerplate.git
