[submodule "node/Reston"]
	path = node/Reston
	url = https://github.com/maxpert/Reston.git
[submodule "node/express"]
	path = node/express
	url = https://github.com/visionmedia/express.git
[submodule "rails/fat_free_crm"]
	path = rails/fat_free_crm
	url = https://github.com/michaeldv/fat_free_crm.git
[submodule "html5/html5-boilerplate"]
	path = html5/html5-boilerplate
	url = https://github.com/paulirish/html5-boilerplate.git
[submodule "php/wpframework"]
	path = php/wpframework
	url = https://github.com/Sitebase/wpframework.git
[submodule "python/v2ex"]
	path = python/v2ex
	url = https://github.com/livid/v2ex.git
[submodule "js/peersay"]
	path = js/peersay
	url = https://github.com/shepherdwind/peersay.git
[submodule "js/tipsy"]
	path = js/tipsy
	url = https://github.com/jaz303/tipsy.git
[submodule "rails/spree"]
	path = rails/spree
	url = https://github.com/spree/spree.git
[submodule "js/colorbox"]
	path = js/colorbox
	url = https://github.com/jackmoore/colorbox.git
[submodule "node/now"]
	path = node/now
	url = https://github.com/Flotype/now.git
[submodule "js/kissy"]
	path = js/kissy
	url = https://github.com/kissyteam/kissy.git
[submodule "ruby/almost-sinatra"]
	path = ruby/almost-sinatra
	url = https://github.com/rkh/almost-sinatra.git
[submodule "php/cacl_tree"]
	path = php/cacl_tree
	url = https://github.com/lzyy/cacl_tree.git
[submodule "js/Notify"]
	path = js/Notify
	url = https://github.com/geedew/Notify.git
[submodule "js/jsvi"]
	path = js/jsvi
	url = https://github.com/acrollet/jsvi.git
[submodule "ruby/sinatra"]
	path = ruby/sinatra
	url = https://github.com/sinatra/sinatra.git
[submodule "js/jquery-typing"]
	path = js/jquery-typing
	url = https://github.com/narfdotpl/jquery-typing.git
[submodule "rails/web-app-theme"]
	path = rails/web-app-theme
	url = https://github.com/pilu/web-app-theme.git
[submodule "node/mikeal-spider"]
	path = node/mikeal-spider
	url = https://github.com/mikeal/spider.git
[submodule "js/jquery"]
	path = js/jquery
	url = git://github.com/jquery/jquery.git
[submodule "js/yui3"]
	path = js/yui3
	url = https://github.com/yui/yui3.git
[submodule "js/morpheus"]
	path = js/morpheus
	url = https://github.com/ded/morpheus.git
[submodule "js/reqwest"]
	path = js/reqwest
	url = https://github.com/ded/reqwest
[submodule "node/traverse"]
	path = node/traverse
	url = https://github.com/substack/js-traverse.git
[submodule "js/appleofiframe"]
	path = js/appleofiframe
	url = https://github.com/premasagar/appleofmyiframe.git
[submodule "js/SyntaxHighlighter"]
	path = js/SyntaxHighlighter
	url = https://github.com/alexgorbatchev/SyntaxHighlighter.git
[submodule "node/secret"]
	path = node/secret
	url = https://github.com/dreamerslab/node.secret
[submodule "js/jquery.queue"]
	path = js/jquery.queue
	url = https://github.com/dreamerslab/jquery.queue.git
[submodule "js/jquery.secret"]
	path = js/jquery.secret
	url = https://github.com/dreamerslab/jquery.secret.git
[submodule "js/jquery.preload"]
	path = js/jquery.preload
	url = https://github.com/dreamerslab/jquery.preload.git
[submodule "html5/jo"]
	path = html5/jo
	url = https://github.com/davebalmer/jo.git
[submodule "node/kue"]
	path = node/kue
	url = https://github.com/LearnBoost/kue.git
[submodule "node/etherpad-lite"]
	path = node/etherpad-lite
	url = https://github.com/Pita/etherpad-lite.git
[submodule "erlang/socket.io-erlang"]
	path = erlang/socket.io-erlang
	url = https://github.com/yrashk/socket.io-erlang.git
[submodule "python/socket_io_client"]
	path = python/socket_io_client
	url = https://github.com/koto/socket_io_client.git
[submodule "node/coffee-script"]
	path = node/coffee-script
	url = https://github.com/jashkenas/coffee-script.git
[submodule "js/mustache.js"]
	path = js/mustache.js
	url = https://github.com/janl/mustache.js.git
[submodule "js/underscore"]
	path = js/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "js/backbone"]
	path = js/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "js/jquery-mobile"]
	path = js/jquery-mobile
	url = https://github.com/jquery/jquery-mobile.git
[submodule "js/bxslider"]
	path = js/bxslider
	url = https://github.com/wandoledzep/bxslider.git
[submodule "js/jquerytools"]
	path = js/jquerytools
	url = https://github.com/jquerytools/jquerytools.git
[submodule "php/yiiadmin"]
	path = php/yiiadmin
	url = https://github.com/firstrow/yiiadmin.git
[submodule "php/4money"]
	path = php/4money
	url = https://github.com/pct/4money.git
[submodule "html5/free-admin-templates"]
	path = html5/free-admin-templates
	url = https://github.com/pct/free-admin-templates.git
